[package]
name = "harfbuzz"
version = "0.3.1"

authors = ["The Servo Project Developers"]
license = "MIT / Apache-2.0"

description = "Rust bindings to the HarfBuzz text shaping engine"
repository = "https://github.com/servo/rust-harfbuzz"
documentation = "https://docs.rs/harfbuzz/"
keywords = ["opentype", "font", "text", "layout", "unicode"]

[dependencies.harfbuzz-sys]
path = "../harfbuzz-sys"
version = "0.3.1"
default-features = false

[features]
default = ["build-native-harfbuzz", "build-native-freetype"]
build-native-harfbuzz = ["harfbuzz-sys/build-native-harfbuzz"]
build-native-freetype = ["harfbuzz-sys/build-native-freetype"]
